@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  /* w-screen min-h-screen flex items-center justify-center bg-gray-100 relative py-24 */
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #f1f1f1;
  position: relative;
  padding: 6rem 0;
  overflow-x: hidden;
}

.portfolio-card {
  /* w-3/5 h-fit flex flex-col items-center mx-auto bg-white shadow-lg z-10 px-8 pb-20 lg:pl-20 */
  width: 80%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 auto;
  background-color: #fff;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 0 2rem;
  padding-bottom: 5rem;
  overflow: hidden;
}

@media (min-width: 768px) {
  .portfolio-card {
    padding-left: 5rem;
    width: 70%;
  }
}

@media (min-width: 1024px) {
  .portfolio-card {
    padding-left: 5rem;
    width: 60%;
  }
}

.image-description {
  /* w-full flex flex-col items-center lg:flex-row */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 1024px) {
  .image-description {
    flex-direction: row;
  }
}

.description {
  /* text-primary text-sm text-center mt-24 mb-8 lg:w-1/3 lg:text-left lg:mb-20 */
  color: #cb3931;
  font-size: 0.9rem;
  text-align: center;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

@media (min-width: 1024px) {
  .description {
    width: 33.333333%;
    text-align: left;
    margin-bottom: 5rem;
    font-size: 1rem;
  }
}

.image {
  /* w-10/12 lg:w-[45%] max-h-96 object-contain -mb-16 z-10 bg-primary px-6 pt-6 lg:ml-16 */
  width: 83%;
  max-height: 26rem;
  object-fit: contain;
  margin-bottom: -4rem;
  z-index: 10;
  background-color: #cb3931;
  padding: 1.5rem 0px 0px 0px;
}

@media (min-width: 768px) {
  .image {
    width: 50%;
    margin-left: 5rem;
  }
}

@media (min-width: 1024px) {
  .image {
    width: 43%;
    margin-left: 5rem;
  }
}

.name-contact-infos {
  /* w-full ml-auto px-6 lg:px-12 pb-6 pt-24 lg:pb-16 lg:pt-36 bg-gray-100 flex flex-col items-start mb-20 lg:flex-row */
  width: 100%;
  margin-left: auto;
  padding: 0 1.5rem;
  padding-bottom: 1.5rem;
  padding-top: 6rem;
  background-color: #f1f1f1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .name-contact-infos {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-bottom: 4rem;
    padding-top: 9rem;
    flex-direction: row;
    justify-content: flex-start;
  }
}

.name h1 {
  /* font-semibold text-3xl lg:text-7xl */
  font-weight: 600;
  font-size: 1.875rem;
  line-height: 2.5rem;
}
.name p {
  /* text-primary text-sm lg:text-xl */
  color: #cb3931;
  font-size: 0.8rem;
  font-weight: 500;
}

@media (min-width: 768px) {
  .name h1 {
    font-size: 4rem;
    line-height: 5rem;
  }
  .name p {
    font-size: 1rem;
  }
}

@media (min-width: 1024px) {
  .name h1 {
    font-size: 5rem;
    line-height: 6rem;
  }
  .name p {
    font-size: 1.2rem;
  }
}

@media (min-width: 1200px) {
  .name h1 {
    font-size: 5.5rem;
    line-height: 6rem;
  }
}

.contact-infos {
  /* text-xs mt-6 lg:text-base lg:mt-0 */
  font-size: 0.75rem;
  margin-top: 1.5rem;
}

@media (min-width: 768px) {
  .contact-infos {
    font-size: 0.9rem;
    margin-left: -4rem;
  }
}

@media (min-width: 1024px) {
  .contact-infos {
    font-size: 1rem;
    margin-left: -6rem;
  }
}

.experience-education {
  /* w-full ml-auto flex flex-col items-center lg:items-start lg:flex-row */
  width: 100%;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media (min-width: 768px) {
  .experience-education {
    flex-direction: row;
    align-items: flex-start;
  }
}

.experience {
  /* flex flex-col items-start lg:w-[60%] */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@media (min-width: 768px) {
  .experience {
    width: 60%;
  }
}

.experience h1 {
  /* font-semibold text-primary text-xl mb-8 */
  font-weight: 600;
  color: #cb3931;
  font-size: 1.2rem;
  margin-bottom: 0.4rem;
}

.experience div {
  /* mb-10 */
  margin-bottom: 1rem;
}

.experience div > p {
  /* text-gray-600 w-11/12 */
  color: #656d77;
  width: 91.666667%;
}

.job {
  /* my-3 */
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

.position {
  /* font-semibold text-lg */
  font-weight: 600;
  font-size: 1.125rem;
}

.company {
  /* text-primary font-medium text-lg */
  color: #cb3931 !important;
  font-weight: 500;
  font-size: 1.125rem;
}

.university {
  /* text-primary font-medium text-lg */
  color: #cb3931 !important;
  font-weight: 500;
  font-size: 1.125rem;
}

.text-primary {
  color: #cb3931;
}

.bg-primary {
  background-color: #cb3931;
}

.font-medium {
  font-weight: 500;
}

.text-black {
  color: #000 !important;
}

.red-bottom {
  /* h-[43%] absolute bg-[#cb3931] inset-x-0 bottom-0 -z-1 */
  height: 43%;
  width: 100%;
  position: absolute;
  background-color: #cb3931;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
